<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
<header>
  <h1>Awesome Website</h1>
</header>
<main>
  <%- include(page) -%>
</main>
<footer>
  &copy; 2018 John Cokos
</footer>
</body>
</html>
